<%- include('../partials/header.ejs') %>

<div class="container m-5">
    <a class="btn btn-warning ms-5" href="/categories/create">Create +</a>
    
    <div class="w-50 mt-5 m-auto">
        <table class="table bg-white shadow rounded">
            <thead>
                <tr>
                    <th scope="col" class="col-7">Name</th>
                    <th scope="col" class="col-5">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                    <tr>
                        <td><%= category.name %></td>
                        <td>
                            <a href="/categories/edit/<%= category.id %>" class="btn btn-primary">Edit</a>
                            <form action="/categories/delete/<%= category.id %>" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/footer.ejs') %>