<%- include('../partials/header.ejs') %>

<style>
    .blog-link {
        color: inherit;
        text-decoration: none;
    }
    
    .blog-link:hover {
        text-decoration: none;
        color: inherit;
    }
</style>

<div class="mx-5 mt-4 justify-content-center">
    <div class="row">
        <% blogs.forEach(blog => { %>
            <a href="/blogs/<%= blog.id %>" class="blog-link">
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="card">
                      <img class="card-img-top" src="/uploads/<%= blog.photo %>"  alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <p class="card-text"><%= truncateText(blog.content, 15) %></p>
                        <p class="my-0">Author - <span class="text-success "><%= blog.author %></span></p>
                        <p class="my-0">Category - <span class="text-warning "><%= blog.category %></span></p>
                      </div>
                    </div>
                </div>
            </a>
            
        <% }) %>    
    </div>
</div>

<%- include('../partials/footer.ejs') %>