<%- include('../partials/header.ejs') %>
<div class="container mt-2 mb-5 ">
    <a href="/blogs" class="btn btn-warning mt-5">< Back To Blogs</a>
    <div class="bg-light shadow w-100 mt-3 rounded p-3">
        <img src="/uploads/<%= blog.photo %>" class="img-fluid " alt="">
        <h2 class="mt-2"><%= blog.title %></h2>
        <hr>
        <p><%= blog.content %></p>
        <hr>
        <p>written by: <span class="text-success "><%= blog.author %></span></p>

    </div>

</div>


    

</div>

<%- include('../partials/footer.ejs') %>